<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtoGermanicDictionary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A12CDCDD2CD5801900EAC681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12CDCF32CD5801A00EAC681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12CDCFD2CD5801A00EAC681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
